<a href="https://colab.research.google.com/github/Sakthipooja47/tasks/blob/main/task3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_csv("/content/drive/MyDrive/Dataset .csv")

In [ ]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [ ]:
restaurant_name_col = "Restaurant Name"
address_col = "Address"
table_booking_col = "Has Table booking"
online_delivery_col = "Has Online delivery"

In [ ]:
df["Restaurant_Name_Length"] = df[restaurant_name_col].astype(str).apply(len)
df["Address_Length"] = df[address_col].astype(str).apply(len)

In [ ]:
df["Has_Table_Booking"] = df[table_booking_col].str.lower().map({"yes": 1, "no": 0})
df["Has_Online_Delivery"] = df[online_delivery_col].str.lower().map({"yes": 1, "no": 0})

In [ ]:
df["Has_Table_Booking"].fillna(0, inplace=True)
df["Has_Online_Delivery"].fillna(0, inplace=True)

<ipython-input-7-3e3219538ddc>:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Has_Table_Booking"].fillna(0, inplace=True)
<ipython-input-7-3e3219538ddc>:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Has_Online_Delivery"].fillna(0, inplace=True)

In [ ]:
print(df[["Restaurant Name", "Restaurant_Name_Length", "Address", "Address_Length",
          "Has Table booking", "Has_Table_Booking", "Has Online delivery", "Has_Online_Delivery"]].head())

          Restaurant Name  Restaurant_Name_Length  \
0        Le Petit Souffle                      16
1        Izakaya Kikufuji                      16
2  Heat - Edsa Shangri-La                      22
3                    Ooma                       4
4             Sambo Kojin                      11

                                             Address  Address_Length  \
0  Third Floor, Century City Mall, Kalayaan Avenu...              71
1  Little Tokyo, 2277 Chino Roces Avenue, Legaspi...              67
2  Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...              56
3  Third Floor, Mega Fashion Hall, SM Megamall, O...              70
4  Third Floor, Mega Atrium, SM Megamall, Ortigas...              64

  Has Table booking  Has_Table_Booking Has Online delivery  \
0               Yes                  1                  No
1               Yes                  1                  No
2               Yes                  1                  No
3                No                  0                  No
4               Yes                  1                  No

   Has_Online_Delivery
0                    0
1                    0
2                    0
3                    0
4                    0

In [ ]:
df.to_csv("restaurants_feature_engineered.csv", index=False)